<h1>
  Chose your favourite Cat Poster!
</h1>

<div class="col-3">
  <img src="assets/sweet-life.jpg" />
</div>
<div class="col-3">
    <img src="assets/early.jpg" />
</div>
<div class="col-3">
    <img src="assets/akuku.jpg" />
</div>
<div class="col-3">
  <img src="assets/faithful-friend.jpg" />
</div>
<div class="col-3">
    <img src="assets/give-me-a-break.jpg" />
</div>
<div class="col-3">
   <img src="assets/group-bath.jpg" />
</div>
<div class="col-3">
    <img src="assets/yin-yang.jpg" />
</div>
<div class="col-3">
  <img src="assets/mouse-hunter.jpg" />
</div>
<div class="col-3">
  <img src="assets/tumblr_m4sk11JHqh1qd477zo1_1280.jpg" />
</div>
<div class="col-3">
  <img src="assets/universe.jpg" />
</div>
<div class="col-3">
  <img src="assets/who-is-there.jpg" />
</div>
<div class="col-3">
  <img src="assets/winner.jpg" />
</div>